@{
    ViewBag.Title = "Контакты";
}

<h4>Контакты</h4>

<table width="90%" align="center" border="1">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Мобильный телефон</th>
            <th>Обращение в заг. письма</th>
            <th>Должность</th>
            <th>Дата рождения</th>
        </tr>

        @foreach (var item in ViewBag.Contacts) {
        <tr>
            <td>@item.Name</td>
            <td>@item.MobilePhone</td>
            <td>@item.Dear</td>
            <td>@item.JobTitle</td>
            <td>@item.BirthDate</td>
        </tr>
        }
    </thead>
</table>

