@model IEnumerable<BPMService.WebUI.BPMonlineSvcRef.Contact>

@{
    ViewBag.Title = "Контакты";
}

<table class="Grid">
    <tr>
        <th>Имя</th>
        <th>Мобильный телефон</th>
        <th>Обращение в заг. письма</th>
        <th>Должность</th>
        <th>Дата рождения</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>@item.Name</td>
        <td>@item.MobilePhone</td>
        <td>@item.Dear</td>
        <td>@item.JobTitle</td>
        <td>@item.BirthDate</td>
        <td>
            @using (Html.BeginForm("Edit", "Home"))
            {
                @Html.Hidden("Id", item.Id)
                <input type="submit" value="Edit" />
            }
        </td>
        <td>
            @using (Html.BeginForm("Delete", "Home"))
            {
                @Html.Hidden("Id", item.Id)
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
    }
</table>

<p>
    @Html.ActionLink("Создать новый контакт", "Create")
</p>